@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;1,300;1,400;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #f9d9ff, #dcd0ff, #bda0ff, #a16cff, #d0a9f5);
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
   /* It allows to control the opacity of a color */
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    backdrop-filter: blur(2rem);
    height: 500px;
    border-radius: 10px;
    width: 900px;
}


.content1{
    height: 100%;
    width: 380px;
    background: url("https://source.unsplash.com/ZAiN5wnsR0E");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    position: absolute;
}
.content2{
    position: relative;
    height: 100%;
    width: calc(100% - 380px);
    padding: 20px;
    box-sizing: border-box;
   
}
.content2 h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}
.content2 form{
    padding: 10px;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1px;
}
.content2 form >div{

    margin-top: 20px;
}
.content2 input{
    font-size: 20px;
    border-radius: 4px;
    border: none;
    padding: 4px;
    padding-left: 6px;
}.content2 h5{
    font-weight: bolder;
    margin-top: 30px;
    font-size: 1rem;
    margin-bottom: 5px;
}
.content2 h5 a:hover{
    padding-left: 4px;

}
.content2 button{
    font-size: 1.5rem;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    /* background: red; */
    z-index: 100;
    position: relative;
    cursor: pointer;
}
.content2 button::before,
.content2 button::after{
    content: "";
    z-index: 2;
    position: absolute;
    width: 0;
    background: rgb(170, 0, 204);
    top: 0%;
    height: 100%;
    opacity: 0.2;
    border-radius: 10px;
    transition: 0.4s;
}
.content2 button::before
{
    left: 0;
}
.content2 button::after
{
    right: 0;
}
.content2 button:hover::before,
.content2 button:hover::after{
    width: 100%;
}

.content2 .signUp.active{
    display: none;
}
.content2 .signIn
{
    display: none;
}
.content2 .signIn.active
{
    display: inline;

}
.container.active{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        to right bottom,
        #ffc1ef,
        #ffaeff,
        #ff94f1,
        #f951ff,
        #f5a9ef
      );
}
.content1.active{
    height: 100%;
    width: 380px;
    background: url("https://source.unsplash.com/pG4VMPudxNM");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:650px)
{
   .content1{
       display: none;
   }
    .main{
    margin-left: 20px;
    margin-right: 20px;
     height: 450px;
     width: 70%;
    }
    .content2{
        font-size: 0.4rem;
        width: 100%;
    }
    
}
@media(max-width:740px)
{
   .content1{
       width: 290px;
   }
    .main{

    height: 450px;
    width: 350px;
    }
    
}
@media(max-width:900px)
{
    
    .main{  
    height: 502px;
    width: 100%;
    }
    .content2 h1{
        margin-bottom: 2px;
        margin-top: 2px;
        /* padding-bottom: -0px; */
    }
    .content2 form{
        font-size: 1.4rem;
        padding-bottom: 0px;
    }
}
