@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&display=swap');


*
{
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #f9d9ff, #dcd0ff, #bda0ff, #a16cff, #d0a9f5);
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
   /* It allows to control the opacity of a color */
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    backdrop-filter: blur(2rem);
    height: 500px;
    border-radius: 10px;
    width: 900px;
}


.headerRow{
    display: flex;
    box-sizing: border-box;
    position: relative;
    padding-left: 60px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  header{
    /* position: absolute; */
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    z-index: 100;
  }
  .logo{
    font-size: 40px;
    font-weight: bolder;
    max-width: 150px;
  }
  .search{
    position: relative;
    width: 300px;
    height: 40px;
  }
  .search input{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4rem;
    font-size: 100%;
    border-radius: 3px;
    border: none;
    overflow: visible;
    background-color: black;
    color: black;
    backdrop-filter: blur(100px);
  }
  .search .fa-search{
    position: absolute;
    top: 20%;
    left: 10px;
    transform: translateX(12.5rem);
  
    color: white;
    margin: 0px;
    padding: 0px;
  
    padding-right: 10px;
    margin-left: -2rem;
  }
  .search input::placeholder {
    color: white;
    opacity: 1; 
  }
  nav{
    padding: 0px 0px;
  }
  nav ul li{
    display: inline-block;
    margin-left: 20px;
    /* list-style: none; */
  }
  .navigation
  {
    margin-right: 11rem;
  }
  nav .navigation li a{
    font-size: 140%;
    color: black;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    transition: all 0s none;
  }
  nav li a:hover{
    color: rgb(162, 0, 255);
  }
  
  

.content1{
    height: 100%;
    width: 380px;
    background: url("https://source.unsplash.com/ZAiN5wnsR0E");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    position: absolute;
}
.content2{
    position: relative;
    height: 100%;
    width: calc(100% - 380px);
    padding: 20px;
    box-sizing: border-box;
   
}
.content2 h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}
.content2 form{
    padding: 10px;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1px;
}
.content2 form >div{

    margin-top: 20px;
}
.content2 input{
    font-size: 20px;
    border-radius: 4px;
    border: none;
    padding: 4px;
    padding-left: 6px;
}.content2 h5{
    font-weight: bolder;
    margin-top: 30px;
    font-size: 1rem;
    margin-bottom: 5px;
}
.content2 h5 a:hover{
    padding-left: 4px;

}
.content2 button{
    font-size: 1.5rem;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    /* background: red; */
    z-index: 100;
    position: relative;
    cursor: pointer;
}
.content2 button::before,
.content2 button::after{
    content: "";
    z-index: 2;
    position: absolute;
    width: 0;
    background: rgb(170, 0, 204);
    top: 0%;
    height: 100%;
    opacity: 0.2;
    border-radius: 10px;
    transition: 0.4s;
}
.content2 button::before
{
    left: 0;
}
.content2 button::after
{
    right: 0;
}
.content2 button:hover::before,
.content2 button:hover::after{
    width: 100%;
}

.content2 .signUp.active{
    display: none;
}
.content2 .signIn
{
    display: none;
}
.content2 .signIn.active
{
    display: inline;

}
.container.active{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        to right bottom,
        #ffc1ef,
        #ffaeff,
        #ff94f1,
        #f951ff,
        #f5a9ef
      );
}
.content1.active{
    height: 100%;
    width: 380px;
    background: url("https://source.unsplash.com/pG4VMPudxNM");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:650px)
{
   .content1{
       display: none;
   }
    .main{
    margin-left: 20px;
    margin-right: 20px;
     height: 450px;
     width: 70%;
    }
    .content2{
        font-size: 0.4rem;
        width: 100%;
    }
    
}
@media(max-width:740px)
{
   .content1{
       width: 290px;
   }
    .main{

    height: 450px;
    width: 350px;
    }
    
}
@media(max-width:900px)
{
    
    .main{  
    height: 502px;
    width: 100%;
    }
    .content2 h1{
        margin-bottom: 2px;
        margin-top: 2px;
        /* padding-bottom: -0px; */
    }
    .content2 form{
        font-size: 1.4rem;
        padding-bottom: 0px;
    }
}





/* Header media */

@media(max-width:1250px)
{
   
    .search{
        display: none;
    }
}
@media(max-width:1000px){
    header .navigation{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }
    .headerRow{
      padding-left: 30px;
      padding-right: 30px;
  }
}


@media(max-width:810px)
{
    
    .search{
        display: none;
    }
    .headerRow{
        position: relative;
    }
    header .hamburger
    {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        background: black url("images/menu.png");
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        border-radius: 6px;
        z-index: 1000;
    }
    header .hamburger.active{
        background: black url("images/close.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    header .headerRow nav{
        width: 100%;
        display: flex;
        justify-content: center;
        line-height: 4rem;
        padding: 0;
        height: 100vh;   
    }
    header nav{

        position: fixed;
        background:rgb(14, 13, 13,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s;
        padding: 40px;
        z-index: 10;
        top: 0px;
        right: -100%;
        height: 100vh;
    }
    header nav .navigation{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        transition: all 1s ease;
    }
    header nav.open{
        right: 0%;
    }
    header .headerRow nav ul li a{
        margin-top: 12px;
        margin-right: 12px;
        letter-spacing: 2px;
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }
    header .headerRow nav ul li a:hover{
        color: rgb(194, 96, 250);
    }
    header .lgo{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    header .lgo h2{
        text-align: center;
    }

    
}



